In [165]:
import networkx as nx
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import sys
import math
import pickle
import jsonpickle
import csv

In [111]:
n_tiles = pd.read_csv('../qgis/hexagons_centers.csv').shape[0]
n_tiles

1590

In [2]:
stops_with_ids = pd.read_csv("../qgis/stops_with_tile_ids.csv", usecols = ['ID','stop_id'])
stops_with_ids = stops_with_ids.set_index('stop_id')
print(stops_with_ids.shape)
stops_with_ids.head()

(24499, 1)

          ID
stop_id
132      553
133      949
134      892
135      603
136      572

# Computing centers of hexagons

## Graph 
For complete set of bus and train stops

In [3]:
G = nx.read_gpickle('../graph/complete.graph')

In [4]:
stops_with_ids['degree'] = 0

For the hexagons where no affluence data is available from official **SBB/CFF** sources, we use the max node-degree in the cell as affluence.

### Strategy - choose node with min-average time in tile
For each tile get node with minimum average time to other nodes. 

`for tile:
    min_time = inf.
    matrix = distance(affluence_nodes + nodes ` $\in$ ` group)
    min_time = min(avg_time(matrix), min_time)`

Get all nodes belonging to both known stop_ids in grid and the directed graph.

In [218]:
degrees = {}
for n in G.nodes():
    degrees[n] = nx.degree(G, n)
    
degrees[8501120]

51

In [161]:
gb = stops_with_ids.groupby('ID') # groupby ID of tile
nodes = G.nodes()
affluence_ids = list(affluence.stop_id)
affluence_ids = [e for e in affluence_ids if e in nodes] # keep only nodes in graph
centers_by_tile = {} # map from tile ID to node with minimum average time
i = 0

max_time = 500.0 # provisional measure
for k, gp in gb:
    if(i%50 == 0):
        print("Tile {}/{}".format(i, len(gb)))
    i = i+1
    
    gp_ids = list(gp.index)
    gp_ids = [e for e in gp_ids if e in nodes]
    total_ids = []
    total_ids.extend(affluence_ids)
    total_ids.extend(gp_ids)
    gp_dist = {}
    for s in gp_ids:
        s_dist = []
        for t in total_ids:
            try:
                dist = nx.shortest_path_length(G, s, t)
            except:
                dist = max_time
            s_dist.append(dist)
        s_avg = sum(s_dist) / len(s_dist)
        gp_dist[s] = s_avg
    centers_by_tile[k] = min(gp_dist, key=gp_dist.get) if gp_dist else 0

Tile 0/1259
Tile 1/1259
Tile 2/1259
Tile 3/1259
Tile 4/1259
Tile 5/1259
Tile 6/1259
Tile 7/1259
Tile 8/1259
Tile 9/1259
Tile 10/1259
Tile 11/1259
Tile 12/1259
Tile 13/1259
Tile 14/1259
Tile 15/1259
Tile 16/1259
Tile 17/1259
Tile 18/1259
Tile 19/1259
Tile 20/1259
Tile 21/1259
Tile 22/1259
Tile 23/1259
Tile 24/1259
Tile 25/1259
Tile 26/1259
Tile 27/1259
Tile 28/1259
Tile 29/1259
Tile 30/1259
Tile 31/1259
Tile 32/1259
Tile 33/1259
Tile 34/1259
Tile 35/1259
Tile 36/1259
Tile 37/1259
Tile 38/1259
Tile 39/1259
Tile 40/1259
Tile 41/1259
Tile 42/1259
Tile 43/1259
Tile 44/1259
Tile 45/1259
Tile 46/1259
Tile 47/1259
Tile 48/1259
Tile 49/1259
Tile 50/1259
Tile 51/1259
Tile 52/1259
Tile 53/1259
Tile 54/1259
Tile 55/1259
Tile 56/1259
Tile 57/1259
Tile 58/1259
Tile 59/1259
Tile 60/1259
Tile 61/1259
Tile 62/1259
Tile 63/1259
Tile 64/1259
Tile 65/1259
Tile 66/1259
Tile 67/1259
Tile 68/1259
Tile 69/1259
Tile 70/1259
Tile 71/1259
Tile 72/1259
Tile 73/1259
Tile 74/1259
Tile 75/1259
Tile 76/1259
Tile 77/1259
Tile 78/1259
Tile 79/1259
Tile 80/1259
Tile 81/1259
Tile 82/1259
Tile 83/1259
Tile 84/1259
Tile 85/1259
Tile 86/1259
Tile 87/1259
Tile 88/1259
Tile 89/1259
Tile 90/1259
Tile 91/1259
Tile 92/1259
Tile 93/1259
Tile 94/1259
Tile 95/1259
Tile 96/1259
Tile 97/1259
Tile 98/1259
Tile 99/1259
Tile 100/1259
Tile 101/1259
Tile 102/1259
Tile 103/1259
Tile 104/1259
Tile 105/1259
Tile 106/1259
Tile 107/1259
Tile 108/1259
Tile 109/1259
Tile 110/1259
Tile 111/1259
Tile 112/1259
Tile 113/1259
Tile 114/1259
Tile 115/1259
Tile 116/1259
Tile 117/1259
Tile 118/1259
Tile 119/1259
Tile 120/1259
Tile 121/1259
Tile 122/1259
Tile 123/1259
Tile 124/1259
Tile 125/1259
Tile 126/1259
Tile 127/1259
Tile 128/1259
Tile 129/1259
Tile 130/1259
Tile 131/1259
Tile 132/1259
Tile 133/1259
Tile 134/1259
Tile 135/1259
Tile 136/1259
Tile 137/1259
Tile 138/1259
Tile 139/1259
Tile 140/1259
Tile 141/1259
Tile 142/1259
Tile 143/1259
Tile 144/1259
Tile 145/1259
Tile 146/1259
Tile 147/1259
Tile 148/1259
Tile 149/1259
Tile 150/1259
Tile 151/1259
Tile 152/1259
Tile 153/1259
Tile 154/1259
Tile 155/1259
Tile 156/1259
Tile 157/1259
Tile 158/1259
Tile 159/1259
Tile 160/1259
Tile 161/1259
Tile 162/1259
Tile 163/1259
Tile 164/1259
Tile 165/1259
Tile 166/1259
Tile 167/1259
Tile 168/1259
Tile 169/1259
Tile 170/1259
Tile 171/1259
Tile 172/1259
Tile 173/1259
Tile 174/1259
Tile 175/1259
Tile 176/1259
Tile 177/1259
Tile 178/1259
Tile 179/1259
Tile 180/1259
Tile 181/1259
Tile 182/1259
Tile 183/1259
Tile 184/1259
Tile 185/1259
Tile 186/1259
Tile 187/1259
Tile 188/1259
Tile 189/1259
Tile 190/1259
Tile 191/1259
Tile 192/1259
Tile 193/1259
Tile 194/1259
Tile 195/1259
Tile 196/1259
Tile 197/1259
Tile 198/1259
Tile 199/1259
Tile 200/1259
Tile 201/1259
Tile 202/1259
Tile 203/1259
Tile 204/1259
Tile 205/1259
Tile 206/1259
Tile 207/1259
Tile 208/1259
Tile 209/1259
Tile 210/1259
Tile 211/1259
Tile 212/1259
Tile 213/1259
Tile 214/1259
Tile 215/1259
Tile 216/1259
Tile 217/1259
Tile 218/1259
Tile 219/1259
Tile 220/1259
Tile 221/1259
Tile 222/1259
Tile 223/1259
Tile 224/1259
Tile 225/1259
Tile 226/1259
Tile 227/1259
Tile 228/1259
Tile 229/1259
Tile 230/1259
Tile 231/1259
Tile 232/1259
Tile 233/1259
Tile 234/1259
Tile 235/1259
Tile 236/1259
Tile 237/1259
Tile 238/1259
Tile 239/1259
Tile 240/1259
Tile 241/1259
Tile 242/1259
Tile 243/1259
Tile 244/1259
Tile 245/1259
Tile 246/1259
Tile 247/1259
Tile 248/1259
Tile 249/1259
Tile 250/1259
Tile 251/1259
Tile 252/1259
Tile 253/1259
Tile 254/1259
Tile 255/1259
Tile 256/1259
Tile 257/1259
Tile 258/1259
Tile 259/1259
Tile 260/1259
Tile 261/1259
Tile 262/1259
Tile 263/1259
Tile 264/1259
Tile 265/1259
Tile 266/1259
Tile 267/1259
Tile 268/1259
Tile 269/1259
Tile 270/1259
Tile 271/1259
Tile 272/1259
Tile 273/1259
Tile 274/1259
Tile 275/1259
Tile 276/1259
Tile 277/1259
Tile 278/1259
Tile 279/1259
Tile 280/1259
Tile 281/1259
Tile 282/1259
Tile 283/1259
Tile 284/1259
Tile 285/1259
Tile 286/1259
Tile 287/1259
Tile 288/1259
Tile 289/1259
Tile 290/1259
Tile 291/1259
Tile 292/1259
Tile 293/1259
Tile 294/1259
Tile 295/1259
Tile 296/1259
Tile 297/1259
Tile 298/1259
Tile 299/1259
Tile 300/1259
Tile 301/1259
Tile 302/1259
Tile 303/1259
Tile 304/1259
Tile 305/1259
Tile 306/1259
Tile 307/1259
Tile 308/1259
Tile 309/1259
Tile 310/1259
Tile 311/1259
Tile 312/1259
Tile 313/1259
Tile 314/1259
Tile 315/1259
Tile 316/1259
Tile 317/1259
Tile 318/1259
Tile 319/1259
Tile 320/1259
Tile 321/1259
Tile 322/1259
Tile 323/1259
Tile 324/1259
Tile 325/1259
Tile 326/1259
Tile 327/1259
Tile 328/1259
Tile 329/1259
Tile 330/1259
Tile 331/1259
Tile 332/1259
Tile 333/1259
Tile 334/1259
Tile 335/1259
Tile 336/1259
Tile 337/1259
Tile 338/1259
Tile 339/1259
Tile 340/1259
Tile 341/1259
Tile 342/1259
Tile 343/1259
Tile 344/1259
Tile 345/1259
Tile 346/1259
Tile 347/1259
Tile 348/1259
Tile 349/1259
Tile 350/1259
Tile 351/1259
Tile 352/1259
Tile 353/1259
Tile 354/1259
Tile 355/1259
Tile 356/1259
Tile 357/1259
Tile 358/1259
Tile 359/1259
Tile 360/1259
Tile 361/1259
Tile 362/1259
Tile 363/1259
Tile 364/1259
Tile 365/1259
Tile 366/1259
Tile 367/1259
Tile 368/1259
Tile 369/1259
Tile 370/1259
Tile 371/1259
Tile 372/1259
Tile 373/1259
Tile 374/1259
Tile 375/1259
Tile 376/1259
Tile 377/1259
Tile 378/1259
Tile 379/1259
Tile 380/1259
Tile 381/1259
Tile 382/1259
Tile 383/1259
Tile 384/1259
Tile 385/1259
Tile 386/1259
Tile 387/1259
Tile 388/1259
Tile 389/1259
Tile 390/1259
Tile 391/1259
Tile 392/1259
Tile 393/1259
Tile 394/1259
Tile 395/1259
Tile 396/1259
Tile 397/1259
Tile 398/1259
Tile 399/1259
Tile 400/1259
Tile 401/1259
Tile 402/1259
Tile 403/1259
Tile 404/1259
Tile 405/1259
Tile 406/1259
Tile 407/1259
Tile 408/1259
Tile 409/1259
Tile 410/1259
Tile 411/1259
Tile 412/1259
Tile 413/1259
Tile 414/1259
Tile 415/1259
Tile 416/1259
Tile 417/1259
Tile 418/1259
Tile 419/1259
Tile 420/1259
Tile 421/1259
Tile 422/1259
Tile 423/1259
Tile 424/1259
Tile 425/1259
Tile 426/1259
Tile 427/1259
Tile 428/1259
Tile 429/1259
Tile 430/1259
Tile 431/1259
Tile 432/1259
Tile 433/1259
Tile 434/1259
Tile 435/1259
Tile 436/1259
Tile 437/1259
Tile 438/1259
Tile 439/1259
Tile 440/1259
Tile 441/1259
Tile 442/1259
Tile 443/1259
Tile 444/1259
Tile 445/1259
Tile 446/1259
Tile 447/1259
Tile 448/1259
Tile 449/1259
Tile 450/1259
Tile 451/1259
Tile 452/1259
Tile 453/1259
Tile 454/1259
Tile 455/1259
Tile 456/1259
Tile 457/1259
Tile 458/1259
Tile 459/1259
Tile 460/1259
Tile 461/1259
Tile 462/1259
Tile 463/1259
Tile 464/1259
Tile 465/1259
Tile 466/1259
Tile 467/1259
Tile 468/1259
Tile 469/1259
Tile 470/1259
Tile 471/1259
Tile 472/1259
Tile 473/1259
Tile 474/1259
Tile 475/1259
Tile 476/1259
Tile 477/1259
Tile 478/1259
Tile 479/1259
Tile 480/1259
Tile 481/1259
Tile 482/1259
Tile 483/1259
Tile 484/1259
Tile 485/1259
Tile 486/1259
Tile 487/1259
Tile 488/1259
Tile 489/1259
Tile 490/1259
Tile 491/1259
Tile 492/1259
Tile 493/1259
Tile 494/1259
Tile 495/1259
Tile 496/1259
Tile 497/1259
Tile 498/1259
Tile 499/1259
Tile 500/1259
Tile 501/1259
Tile 502/1259
Tile 503/1259
Tile 504/1259
Tile 505/1259
Tile 506/1259
Tile 507/1259
Tile 508/1259
Tile 509/1259
Tile 510/1259
Tile 511/1259
Tile 512/1259
Tile 513/1259
Tile 514/1259
Tile 515/1259
Tile 516/1259
Tile 517/1259
Tile 518/1259
Tile 519/1259
Tile 520/1259
Tile 521/1259
Tile 522/1259
Tile 523/1259
Tile 524/1259
Tile 525/1259
Tile 526/1259
Tile 527/1259
Tile 528/1259
Tile 529/1259
Tile 530/1259
Tile 531/1259
Tile 532/1259
Tile 533/1259
Tile 534/1259
Tile 535/1259
Tile 536/1259
Tile 537/1259
Tile 538/1259
Tile 539/1259
Tile 540/1259
Tile 541/1259
Tile 542/1259
Tile 543/1259
Tile 544/1259
Tile 545/1259
Tile 546/1259
Tile 547/1259
Tile 548/1259
Tile 549/1259
Tile 550/1259
Tile 551/1259
Tile 552/1259
Tile 553/1259
Tile 554/1259
Tile 555/1259
Tile 556/1259
Tile 557/1259
Tile 558/1259
Tile 559/1259
Tile 560/1259
Tile 561/1259
Tile 562/1259
Tile 563/1259
Tile 564/1259
Tile 565/1259
Tile 566/1259
Tile 567/1259
Tile 568/1259
Tile 569/1259
Tile 570/1259
Tile 571/1259
Tile 572/1259
Tile 573/1259
Tile 574/1259
Tile 575/1259
Tile 576/1259
Tile 577/1259
Tile 578/1259
Tile 579/1259
Tile 580/1259
Tile 581/1259
Tile 582/1259
Tile 583/1259
Tile 584/1259
Tile 585/1259
Tile 586/1259
Tile 587/1259
Tile 588/1259
Tile 589/1259
Tile 590/1259
Tile 591/1259
Tile 592/1259
Tile 593/1259
Tile 594/1259
Tile 595/1259
Tile 596/1259
Tile 597/1259
Tile 598/1259
Tile 599/1259
Tile 600/1259
Tile 601/1259
Tile 602/1259
Tile 603/1259
Tile 604/1259
Tile 605/1259
Tile 606/1259
Tile 607/1259
Tile 608/1259
Tile 609/1259
Tile 610/1259
Tile 611/1259
Tile 612/1259
Tile 613/1259
Tile 614/1259
Tile 615/1259
Tile 616/1259
Tile 617/1259
Tile 618/1259
Tile 619/1259
Tile 620/1259
Tile 621/1259
Tile 622/1259
Tile 623/1259
Tile 624/1259
Tile 625/1259
Tile 626/1259
Tile 627/1259
Tile 628/1259
Tile 629/1259
Tile 630/1259
Tile 631/1259
Tile 632/1259
Tile 633/1259
Tile 634/1259
Tile 635/1259
Tile 636/1259
Tile 637/1259
Tile 638/1259
Tile 639/1259
Tile 640/1259
Tile 641/1259
Tile 642/1259
Tile 643/1259
Tile 644/1259
Tile 645/1259
Tile 646/1259
Tile 647/1259
Tile 648/1259
Tile 649/1259
Tile 650/1259
Tile 651/1259
Tile 652/1259
Tile 653/1259
Tile 654/1259
Tile 655/1259
Tile 656/1259
Tile 657/1259
Tile 658/1259
Tile 659/1259
Tile 660/1259
Tile 661/1259
Tile 662/1259
Tile 663/1259
Tile 664/1259
Tile 665/1259
Tile 666/1259
Tile 667/1259
Tile 668/1259
Tile 669/1259
Tile 670/1259
Tile 671/1259
Tile 672/1259
Tile 673/1259
Tile 674/1259
Tile 675/1259
Tile 676/1259
Tile 677/1259
Tile 678/1259
Tile 679/1259
Tile 680/1259
Tile 681/1259
Tile 682/1259
Tile 683/1259
Tile 684/1259
Tile 685/1259
Tile 686/1259
Tile 687/1259
Tile 688/1259
Tile 689/1259
Tile 690/1259
Tile 691/1259
Tile 692/1259
Tile 693/1259
Tile 694/1259
Tile 695/1259
Tile 696/1259
Tile 697/1259
Tile 698/1259
Tile 699/1259
Tile 700/1259
Tile 701/1259
Tile 702/1259
Tile 703/1259
Tile 704/1259
Tile 705/1259
Tile 706/1259
Tile 707/1259
Tile 708/1259
Tile 709/1259
Tile 710/1259
Tile 711/1259
Tile 712/1259
Tile 713/1259
Tile 714/1259
Tile 715/1259
Tile 716/1259
Tile 717/1259
Tile 718/1259
Tile 719/1259
Tile 720/1259
Tile 721/1259
Tile 722/1259
Tile 723/1259
Tile 724/1259
Tile 725/1259
Tile 726/1259
Tile 727/1259
Tile 728/1259
Tile 729/1259
Tile 730/1259
Tile 731/1259
Tile 732/1259
Tile 733/1259
Tile 734/1259
Tile 735/1259
Tile 736/1259
Tile 737/1259
Tile 738/1259
Tile 739/1259
Tile 740/1259
Tile 741/1259
Tile 742/1259
Tile 743/1259
Tile 744/1259
Tile 745/1259
Tile 746/1259
Tile 747/1259
Tile 748/1259
Tile 749/1259
Tile 750/1259
Tile 751/1259
Tile 752/1259
Tile 753/1259
Tile 754/1259
Tile 755/1259
Tile 756/1259
Tile 757/1259
Tile 758/1259
Tile 759/1259
Tile 760/1259
Tile 761/1259
Tile 762/1259
Tile 763/1259
Tile 764/1259
Tile 765/1259
Tile 766/1259
Tile 767/1259
Tile 768/1259
Tile 769/1259
Tile 770/1259
Tile 771/1259
Tile 772/1259
Tile 773/1259
Tile 774/1259
Tile 775/1259
Tile 776/1259
Tile 777/1259
Tile 778/1259
Tile 779/1259
Tile 780/1259
Tile 781/1259
Tile 782/1259
Tile 783/1259
Tile 784/1259
Tile 785/1259
Tile 786/1259
Tile 787/1259
Tile 788/1259
Tile 789/1259
Tile 790/1259
Tile 791/1259
Tile 792/1259
Tile 793/1259
Tile 794/1259
Tile 795/1259
Tile 796/1259
Tile 797/1259
Tile 798/1259
Tile 799/1259
Tile 800/1259
Tile 801/1259
Tile 802/1259
Tile 803/1259
Tile 804/1259
Tile 805/1259
Tile 806/1259
Tile 807/1259
Tile 808/1259
Tile 809/1259
Tile 810/1259
Tile 811/1259
Tile 812/1259
Tile 813/1259
Tile 814/1259
Tile 815/1259
Tile 816/1259
Tile 817/1259
Tile 818/1259
Tile 819/1259
Tile 820/1259
Tile 821/1259
Tile 822/1259
Tile 823/1259
Tile 824/1259
Tile 825/1259
Tile 826/1259
Tile 827/1259
Tile 828/1259
Tile 829/1259
Tile 830/1259
Tile 831/1259
Tile 832/1259
Tile 833/1259
Tile 834/1259
Tile 835/1259
Tile 836/1259
Tile 837/1259
Tile 838/1259
Tile 839/1259
Tile 840/1259
Tile 841/1259
Tile 842/1259
Tile 843/1259
Tile 844/1259
Tile 845/1259
Tile 846/1259
Tile 847/1259
Tile 848/1259
Tile 849/1259
Tile 850/1259
Tile 851/1259
Tile 852/1259
Tile 853/1259
Tile 854/1259
Tile 855/1259
Tile 856/1259
Tile 857/1259
Tile 858/1259
Tile 859/1259
Tile 860/1259
Tile 861/1259
Tile 862/1259
Tile 863/1259
Tile 864/1259
Tile 865/1259
Tile 866/1259
Tile 867/1259
Tile 868/1259
Tile 869/1259
Tile 870/1259
Tile 871/1259
Tile 872/1259
Tile 873/1259
Tile 874/1259
Tile 875/1259
Tile 876/1259
Tile 877/1259
Tile 878/1259
Tile 879/1259
Tile 880/1259
Tile 881/1259
Tile 882/1259
Tile 883/1259
Tile 884/1259
Tile 885/1259
Tile 886/1259
Tile 887/1259
Tile 888/1259
Tile 889/1259
Tile 890/1259
Tile 891/1259
Tile 892/1259
Tile 893/1259
Tile 894/1259
Tile 895/1259
Tile 896/1259
Tile 897/1259
Tile 898/1259
Tile 899/1259
Tile 900/1259
Tile 901/1259
Tile 902/1259
Tile 903/1259
Tile 904/1259
Tile 905/1259
Tile 906/1259
Tile 907/1259
Tile 908/1259
Tile 909/1259
Tile 910/1259
Tile 911/1259
Tile 912/1259
Tile 913/1259
Tile 914/1259
Tile 915/1259
Tile 916/1259
Tile 917/1259
Tile 918/1259
Tile 919/1259
Tile 920/1259
Tile 921/1259
Tile 922/1259
Tile 923/1259
Tile 924/1259
Tile 925/1259
Tile 926/1259
Tile 927/1259
Tile 928/1259
Tile 929/1259
Tile 930/1259
Tile 931/1259
Tile 932/1259
Tile 933/1259
Tile 934/1259
Tile 935/1259
Tile 936/1259
Tile 937/1259
Tile 938/1259
Tile 939/1259
Tile 940/1259
Tile 941/1259
Tile 942/1259
Tile 943/1259
Tile 944/1259
Tile 945/1259
Tile 946/1259
Tile 947/1259
Tile 948/1259
Tile 949/1259
Tile 950/1259
Tile 951/1259
Tile 952/1259
Tile 953/1259
Tile 954/1259
Tile 955/1259
Tile 956/1259
Tile 957/1259
Tile 958/1259
Tile 959/1259
Tile 960/1259
Tile 961/1259
Tile 962/1259
Tile 963/1259
Tile 964/1259
Tile 965/1259
Tile 966/1259
Tile 967/1259
Tile 968/1259
Tile 969/1259
Tile 970/1259
Tile 971/1259
Tile 972/1259
Tile 973/1259
Tile 974/1259
Tile 975/1259
Tile 976/1259
Tile 977/1259
Tile 978/1259
Tile 979/1259
Tile 980/1259
Tile 981/1259
Tile 982/1259
Tile 983/1259
Tile 984/1259
Tile 985/1259
Tile 986/1259
Tile 987/1259
Tile 988/1259
Tile 989/1259
Tile 990/1259
Tile 991/1259
Tile 992/1259
Tile 993/1259
Tile 994/1259
Tile 995/1259
Tile 996/1259
Tile 997/1259
Tile 998/1259
Tile 999/1259
Tile 1000/1259
Tile 1001/1259
Tile 1002/1259
Tile 1003/1259
Tile 1004/1259
Tile 1005/1259
Tile 1006/1259
Tile 1007/1259
Tile 1008/1259
Tile 1009/1259
Tile 1010/1259
Tile 1011/1259
Tile 1012/1259
Tile 1013/1259
Tile 1014/1259
Tile 1015/1259
Tile 1016/1259
Tile 1017/1259
Tile 1018/1259
Tile 1019/1259
Tile 1020/1259
Tile 1021/1259
Tile 1022/1259
Tile 1023/1259
Tile 1024/1259
Tile 1025/1259
Tile 1026/1259
Tile 1027/1259
Tile 1028/1259
Tile 1029/1259
Tile 1030/1259
Tile 1031/1259
Tile 1032/1259
Tile 1033/1259
Tile 1034/1259
Tile 1035/1259
Tile 1036/1259
Tile 1037/1259
Tile 1038/1259
Tile 1039/1259
Tile 1040/1259
Tile 1041/1259
Tile 1042/1259
Tile 1043/1259
Tile 1044/1259
Tile 1045/1259
Tile 1046/1259
Tile 1047/1259
Tile 1048/1259
Tile 1049/1259
Tile 1050/1259
Tile 1051/1259
Tile 1052/1259
Tile 1053/1259
Tile 1054/1259
Tile 1055/1259
Tile 1056/1259
Tile 1057/1259
Tile 1058/1259
Tile 1059/1259
Tile 1060/1259
Tile 1061/1259
Tile 1062/1259
Tile 1063/1259
Tile 1064/1259
Tile 1065/1259
Tile 1066/1259
Tile 1067/1259
Tile 1068/1259
Tile 1069/1259
Tile 1070/1259
Tile 1071/1259
Tile 1072/1259
Tile 1073/1259
Tile 1074/1259
Tile 1075/1259
Tile 1076/1259
Tile 1077/1259
Tile 1078/1259
Tile 1079/1259
Tile 1080/1259
Tile 1081/1259
Tile 1082/1259
Tile 1083/1259
Tile 1084/1259
Tile 1085/1259
Tile 1086/1259
Tile 1087/1259
Tile 1088/1259
Tile 1089/1259
Tile 1090/1259
Tile 1091/1259
Tile 1092/1259
Tile 1093/1259
Tile 1094/1259
Tile 1095/1259
Tile 1096/1259
Tile 1097/1259
Tile 1098/1259
Tile 1099/1259
Tile 1100/1259
Tile 1101/1259
Tile 1102/1259
Tile 1103/1259
Tile 1104/1259
Tile 1105/1259
Tile 1106/1259
Tile 1107/1259
Tile 1108/1259
Tile 1109/1259
Tile 1110/1259
Tile 1111/1259
Tile 1112/1259
Tile 1113/1259
Tile 1114/1259
Tile 1115/1259
Tile 1116/1259
Tile 1117/1259
Tile 1118/1259
Tile 1119/1259
Tile 1120/1259
Tile 1121/1259
Tile 1122/1259
Tile 1123/1259
Tile 1124/1259
Tile 1125/1259
Tile 1126/1259
Tile 1127/1259
Tile 1128/1259
Tile 1129/1259
Tile 1130/1259
Tile 1131/1259
Tile 1132/1259
Tile 1133/1259
Tile 1134/1259
Tile 1135/1259
Tile 1136/1259
Tile 1137/1259
Tile 1138/1259
Tile 1139/1259
Tile 1140/1259
Tile 1141/1259
Tile 1142/1259
Tile 1143/1259
Tile 1144/1259
Tile 1145/1259
Tile 1146/1259
Tile 1147/1259
Tile 1148/1259
Tile 1149/1259
Tile 1150/1259
Tile 1151/1259
Tile 1152/1259
Tile 1153/1259
Tile 1154/1259
Tile 1155/1259
Tile 1156/1259
Tile 1157/1259
Tile 1158/1259
Tile 1159/1259
Tile 1160/1259
Tile 1161/1259
Tile 1162/1259
Tile 1163/1259
Tile 1164/1259
Tile 1165/1259
Tile 1166/1259
Tile 1167/1259
Tile 1168/1259
Tile 1169/1259
Tile 1170/1259
Tile 1171/1259
Tile 1172/1259
Tile 1173/1259
Tile 1174/1259
Tile 1175/1259
Tile 1176/1259
Tile 1177/1259
Tile 1178/1259
Tile 1179/1259
Tile 1180/1259
Tile 1181/1259
Tile 1182/1259
Tile 1183/1259
Tile 1184/1259
Tile 1185/1259
Tile 1186/1259
Tile 1187/1259
Tile 1188/1259
Tile 1189/1259
Tile 1190/1259
Tile 1191/1259
Tile 1192/1259
Tile 1193/1259
Tile 1194/1259
Tile 1195/1259
Tile 1196/1259
Tile 1197/1259
Tile 1198/1259
Tile 1199/1259
Tile 1200/1259
Tile 1201/1259
Tile 1202/1259
Tile 1203/1259
Tile 1204/1259
Tile 1205/1259
Tile 1206/1259
Tile 1207/1259
Tile 1208/1259
Tile 1209/1259
Tile 1210/1259
Tile 1211/1259
Tile 1212/1259
Tile 1213/1259
Tile 1214/1259
Tile 1215/1259
Tile 1216/1259
Tile 1217/1259
Tile 1218/1259
Tile 1219/1259
Tile 1220/1259
Tile 1221/1259
Tile 1222/1259
Tile 1223/1259
Tile 1224/1259
Tile 1225/1259
Tile 1226/1259
Tile 1227/1259
Tile 1228/1259
Tile 1229/1259
Tile 1230/1259
Tile 1231/1259
Tile 1232/1259
Tile 1233/1259
Tile 1234/1259
Tile 1235/1259
Tile 1236/1259
Tile 1237/1259
Tile 1238/1259
Tile 1239/1259
Tile 1240/1259
Tile 1241/1259
Tile 1242/1259
Tile 1243/1259
Tile 1244/1259
Tile 1245/1259
Tile 1246/1259
Tile 1247/1259
Tile 1248/1259
Tile 1249/1259
Tile 1250/1259
Tile 1251/1259
Tile 1252/1259
Tile 1253/1259
Tile 1254/1259
Tile 1255/1259
Tile 1256/1259
Tile 1257/1259
Tile 1258/1259

In [173]:
df_centers = pd.DataFrame(list(centers_by_tile.items()))
df_centers.columns = ['ID', 'center']

In [178]:
df_centers.to_csv('../centers_by_tile.csv')

In [205]:
df_centers.shape

(1259, 2)

In [204]:
df_centers[df_centers.center == 0].shape

(29, 2)

In [209]:
df_centers[df_centers.ID == 12]

   ID   center
9  12  8501008

### 2nd strategy - max degree of node in tile

In [68]:
nodes = G.nodes()

errors = 0
for n in nodes:
    try:
        stops_with_ids.loc[n].degree = G.degree(n) 
    except KeyError:
        errors += 1
        
print("Nodes missing in graph: {}/{}, when matched with `stops_with_ids`".format(errors, len(nodes)))

Nodes missing in graph: 276/22056, when matched with `stops_with_ids`

### NEXT

Groupby the hexagon ID and aggregate by max affluence.

In [36]:
grouped_by_degree = stops_with_ids.reset_index().groupby('ID')['stop_id', 'degree'].agg({'degree': max})
grouped_by_degree.columns = grouped_by_degree.columns.droplevel()
# grouped_by_degree = grouped_by_degree[grouped_by_degree.degree != 0]
grouped_by_degree.head()

    stop_id  degree
ID
2   8595012       0
3   8595953       0
4   8595951       0
5   8595553       0
6   8595952       0

In [37]:
grouped_by_degree[grouped_by_degree.degree != 0].shape[0]

0

In [38]:
grouped_by_degree[grouped_by_degree.stop_id == 8530043]

     stop_id  degree
ID
255  8530043       0

In [39]:
missing = grouped_by_degree[grouped_by_degree.degree == 0].shape[0]
total = grouped_by_degree.shape[0]
print("After grouping, missing affluence data for {}/{} cells".format(missing, total))

After grouping, missing affluence data for 1259/1259 cells

## Affluence for available nodes

In [40]:
affluence = pd.read_csv("../gtfs/passagierfrequenz.csv", sep=';')
affluence['x'], affluence['y'] = affluence.geopos.str.split(',', 1).str
affluence = affluence.drop(['Bahnhof_Haltestelle', 'DWV', 'Bemerkungen', 'lod', 'geopos', 'Eigner', 'Bezugsjahr'], axis=1)
affluence.columns = ['Code', 'Affluence', 'x', 'y']
affluence['stop_id'] = 0

In [41]:
affluence.head()

  Code  Affluence              x               y  stop_id
0  AAT        770  47.3359563788   8.76561022548        0
1   AE       2100  47.4677359724   7.60305476436        0
2  ALL       3000  46.4757395273   6.39970400408        0
3   AW       3000  47.5504471564   9.30221759023        0
4  ARN        210  47.4420020412   9.25200601938        0

In [42]:
affluence.to_csv('../gtfs/affluence_code.csv')

In [83]:
affluence_with_ids = pd.read_csv("../qgis/affluence_with_tile_ids.csv")

In [44]:
joined_aff = affluence.join(affluence_with_ids, rsuffix='_r').drop(
        ['x', 'y', 'Code_r', 'stop_id', 'Code'], axis=1)
grouped_by_affluence = joined_aff.groupby('ID').agg(max).reset_index()

print("Centers with affluence data: {}".format(grouped_by_affluence.shape[0]))

Centers with affluence data: 371

## Combine results
Is there relation between degree of node and affluence?

In [230]:
affluence[affluence.stop_id == 8504201]

    Code  Affluence         x         y  stop_id    ID
459  GRS         50  46.80627  6.641937  8504201  96.0

In [220]:
affluence[affluence.Code == 'FRI']

   Code  Affluence          x         y  stop_id     ID
47  FRI      21600  46.803267  7.151023  8504100  297.0

In [196]:
affluence[affluence.Code == 'ZUE']

    Code  Affluence          x         y  stop_id     ID
603  ZUE     396300  47.378177  8.540192  8503000  939.0

In [179]:
affluence[affluence.ID == 939]

     Code  Affluence          x         y  stop_id     ID
601    ZK       1100  47.337332  8.569718  8503100  939.0
603   ZUE     396300  47.378177  8.540192  8503000  939.0
605  ZSTH      68100  47.366611  8.548466  8503003  939.0
606   ZTB       4200  47.350124  8.561372  8503004  939.0
607  ZWIE       7700  47.371472  8.523463  8503011  939.0
640   ZEN      13000  47.364098  8.530806  8503010  939.0
673  ZWOL       2400  47.347440  8.533588  8503009  939.0

In [45]:
affluence = affluence.join(affluence_with_ids, rsuffix='_r').drop(['Code_r'], axis=1)
affluence.head()

  Code  Affluence              x               y  stop_id      ID
0  AAT        770  47.3359563788   8.76561022548        0  1039.0
1   AE       2100  47.4677359724   7.60305476436        0   525.0
2  ALL       3000  46.4757395273   6.39970400408        0    50.0
3   AW       3000  47.5504471564   9.30221759023        0  1337.0
4  ARN        210  47.4420020412   9.25200601938        0  1309.0

In [46]:
stops = pd.read_csv('../gtfs/stops.txt').drop(['Unnamed: 0', 'platform_code'], axis=1)

In [47]:
stops.head()

   stop_id  stop_lon   stop_lat
0      132  7.689360  47.196374
1      133  8.603653  46.154371
2      134  8.435913  46.538322
3      135  7.773846  46.356888
4      136  7.717215  46.433756

### Get closest stop match by euclidean distance between coordinates -> heuristic 
Result stored in `gtfs/affluence_with_stopid.csv`

**WARNING**: takes some time to compute

In [ ]:
MAX_SIZE = sys.maxsize
for i in range(affluence.shape[0]):
    min_ = MAX_SIZE
    min_id = None
    x1 = float(affluence.loc[i].x)
    y1 = float(affluence.loc[i].y)
    for j in range(stops.shape[0]):
        x2 = float(stops.loc[j].stop_lat)
        y2 = float(stops.loc[j].stop_lon)
        dist = math.sqrt(pow(abs(x1-x2),2) + pow(abs(y1 - y2),2))
        if dist < min_:
            min_ = dist
            min_id = stops.loc[j].stop_id
    affluence.set_value(i, 'stop_id', min_id)
    if (i%25 == 0):
        print("{}/{}".format(i, affluence.shape[0]))
        
affluence.to_csv('gtfs/affluence_with_stopid.csv')

**Instead** use pre-computed file below

In [49]:
affluence = pd.read_csv('../gtfs/affluence_with_stopid.csv')
affluence.drop(['Unnamed: 0'], axis=1, inplace=True)
affluence.head()

  Code  Affluence          x         y  stop_id      ID
0  AAT        770  47.335956  8.765610  8503124  1039.0
1   AE       2100  47.467736  7.603055  8500117   525.0
2  ALL       3000  46.475740  6.399704  8501035    50.0
3   AW       3000  47.550447  9.302218  8506109  1337.0
4  ARN        210  47.442002  9.252006  8506211  1309.0

Merge max affluence nodes for each cell with corresponding stop_id (gtfs format).

In [50]:
affluence_stop_ids = grouped_by_affluence.merge(affluence, left_on=['ID', 'Affluence'],
                          right_on=['ID', 'Affluence'])[['ID', 'stop_id']]

In [51]:
affluence_stop_ids.head()

     ID  stop_id
0   3.0  8501001
1   6.0  8501003
2  11.0  8516155
3  12.0  8501008
4  22.0  8501022

Combine the results from affluence and degree to one collection

In [52]:
cell_centers = grouped_by_degree.drop(['degree'], axis=1)
for i in range(affluence_stop_ids.shape[0]):
    cell_id = affluence_stop_ids.loc[i].ID
    stop_id = affluence_stop_ids.loc[i].stop_id
    cell_centers.set_value(cell_id, 'stop_id', stop_id)

Get list of all centers

## IMPORTANT: sort the centers by tile-id

In [118]:
cell_centers = cell_centers.reindex(range(1, n_tiles+1), fill_value=0)

In [119]:
lst_centers = list(map(lambda x: int(x), cell_centers.stop_id))

In [126]:
nodes = G.nodes()
filt_centers = []
for c in lst_centers:
    if c in nodes:
        filt_centers.append(c)
    else: 
        filt_centers.append(0)

In [129]:
with open('../res/center_nodes', 'wb') as f:
    pickle.dump(filt_centers, f)