In [82]:
import networkx as nx
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import sys
import math
import pickle
import jsonpickle

In [111]:
n_tiles = pd.read_csv('../qgis/hexagons_centers.csv').shape[0]
n_tiles

1590

In [2]:
stops_with_ids = pd.read_csv("../qgis/stops_with_tile_ids.csv", usecols = ['ID','stop_id'])
stops_with_ids = stops_with_ids.set_index('stop_id')
print(stops_with_ids.shape)
stops_with_ids.head()

(24499, 1)

          ID
stop_id
132      553
133      949
134      892
135      603
136      572

# Computing centers of hexagons

## Graph 
For complete set of bus and train stops

In [3]:
G = nx.read_gpickle('../graph/complete.graph')

In [4]:
stops_with_ids['degree'] = 0

For the hexagons where no affluence data is available from official **SBB/CFF** sources, we use the max node-degree in the cell as affluence.

### Strategy - choose node with min-average time in tile
For each tile get node with minimum average time to other nodes. 

`for tile:
    min_time = inf.
    matrix = distance(affluence_nodes + nodes ` $\in$ ` group)
    min_time = min(avg_time(matrix), min_time)`

Get all nodes belonging to both known stop_ids in grid and the directed graph.

In [93]:
gb = stops_with_ids.groupby('ID')
affluence_ids = affluence.stop_id
for k, gp in gb:
    matrix =

2
3
4
5
6
7
9
10
11
12
13
14
15
16
20
21
22
23
24
25
26
28
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
49
50
51
52
53
54
57
58
59
60
61
62
64
65
68
69
70
71
72
73
74
75
76
79
80
81
82
83
84
85
86
87
88
90
91
92
93
94
95
96
97
98
99
100
102
103
104
105
106
107
108
109
110
111
112
113
114
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
137
138
139
140
141
143
144
145
146
147
148
149
150
152
153
154
155
156
157
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
182
185
186
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
210
211
218
219
220
221
222
223
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
247
248
249
250
251
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
279
281
282
283
284
285
287
288
289
290
291
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
314
315
316
317
318
319
320
322
324
325
327
328
329
330
331
332
333
334
335
336
337
338
339
340
343
344
345
346
347
348
349
350
351
352
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
373
376
377
378
379
380
381
382
383
384
385
387
388
389
390
391
392
393
394
395
396
397
398
399
400
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
433
434
435
436
437
438
439
440
441
442
444
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
466
467
468
469
470
471
473
474
476
477
478
479
480
481
482
483
484
485
486
487
488
489
491
492
493
494
495
499
500
501
502
503
504
507
508
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
530
536
537
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
563
564
565
568
570
571
572
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
596
597
598
599
600
601
602
603
604
607
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
631
634
635
636
638
640
641
642
643
644
646
647
648
650
651
652
653
654
655
656
657
658
659
660
662
663
664
665
666
667
669
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
695
696
697
698
699
702
703
704
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
725
726
727
728
729
733
734
735
736
737
740
741
742
743
744
745
746
747
748
749
750
751
752
754
755
758
759
764
765
766
767
768
769
771
772
773
774
775
776
777
778
779
780
781
784
786
791
792
793
794
795
797
798
799
800
801
802
803
804
805
806
807
808
809
810
812
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
837
838
839
840
841
842
845
846
847
848
849
850
851
852
853
854
855
856
857
858
862
864
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
887
891
892
893
894
895
896
897
898
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
918
919
920
921
923
924
925
926
927
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
949
950
951
952
953
954
956
957
958
959
960
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
983
984
985
986
987
988
990
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1016
1017
1018
1023
1026
1028
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1056
1057
1058
1060
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1098
1099
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1115
1116
1117
1118
1119
1120
1121
1122
1125
1126
1127
1128
1129
1130
1132
1135
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1159
1160
1161
1162
1163
1164
1167
1168
1171
1172
1173
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1202
1204
1205
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1224
1226
1227
1228
1229
1230
1234
1235
1236
1237
1238
1240
1241
1242
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1258
1259
1262
1263
1265
1266
1267
1268
1271
1272
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1288
1289
1290
1292
1294
1296
1297
1298
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1317
1318
1319
1320
1321
1322
1323
1324
1326
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1341
1342
1343
1344
1345
1346
1347
1349
1350
1352
1353
1354
1355
1356
1357
1358
1359
1360
1364
1365
1366
1367
1368
1369
1370
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1385
1388
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1410
1412
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1430
1431
1433
1434
1435
1437
1439
1440
1442
1443
1445
1446
1449
1450
1454
1455
1456
1457
1459
1460
1464
1465
1467
1468
1470
1471
1472
1473
1474
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1493
1494
1495
1498
1499
1500
1501
1505
1506
1509
1512
1513
1519
1520
1524
1525
1526
1531
1532
1533
1534
1538
1539
1542
1543
1547
1548
1550
1554
1557
1561
1563
1564
1565
1570
1571
1572
1574
1575
1577
1580
1581
1584
1585
1586
1587
1588
1590

In [35]:
nodes = G.nodes()
full_nodes = []
known_stops = stops_with_ids.index
for n in nodes:
    if n in known_stops:
        full_nodes.append(n)

In [69]:
with open('../res/full_nodes', 'wb') as f:
    pickle.dump(full_nodes, f)

Brouillon

In [63]:
with open('../res/matrix', 'r') as n_file:
    matrix = jsonpickle.decode(n_file.read())

With `full_nodes`, use `process_graph` script to generate full graph of time-distances between nodes. 

Use result to compute average time-distance for each node, then groupby tile IDs and pick the minimum for each tile.

In [ ]:
n_to_i = {}
i = 0
for n in full_nodes:
    n_to_i[n] = i

In [61]:
with open('../res/full_matrix', 'r') as matrix_file:
    full_matrix = jsonpickle.decode(matrix_file.read())
    
with open('../res/full_nodes', 'r') as nodes_file:
    full_nodes = jsonpickle.decode(nodes_file.read())

FileNotFoundError: [Errno 2] No such file or directory: '../res/matrix_small'

### 2nd strategy - max degree of node in tile

In [68]:
nodes = G.nodes()

errors = 0
for n in nodes:
    try:
        stops_with_ids.loc[n].degree = G.degree(n) 
    except KeyError:
        errors += 1
        
print("Nodes missing in graph: {}/{}, when matched with `stops_with_ids`".format(errors, len(nodes)))

Nodes missing in graph: 276/22056, when matched with `stops_with_ids`

### NEXT

Groupby the hexagon ID and aggregate by max affluence.

In [36]:
grouped_by_degree = stops_with_ids.reset_index().groupby('ID')['stop_id', 'degree'].agg({'degree': max})
grouped_by_degree.columns = grouped_by_degree.columns.droplevel()
# grouped_by_degree = grouped_by_degree[grouped_by_degree.degree != 0]
grouped_by_degree.head()

    stop_id  degree
ID
2   8595012       0
3   8595953       0
4   8595951       0
5   8595553       0
6   8595952       0

In [37]:
grouped_by_degree[grouped_by_degree.degree != 0].shape[0]

0

In [38]:
grouped_by_degree[grouped_by_degree.stop_id == 8530043]

     stop_id  degree
ID
255  8530043       0

In [39]:
missing = grouped_by_degree[grouped_by_degree.degree == 0].shape[0]
total = grouped_by_degree.shape[0]
print("After grouping, missing affluence data for {}/{} cells".format(missing, total))

After grouping, missing affluence data for 1259/1259 cells

## Affluence for available nodes

In [40]:
affluence = pd.read_csv("../gtfs/passagierfrequenz.csv", sep=';')
affluence['x'], affluence['y'] = affluence.geopos.str.split(',', 1).str
affluence = affluence.drop(['Bahnhof_Haltestelle', 'DWV', 'Bemerkungen', 'lod', 'geopos', 'Eigner', 'Bezugsjahr'], axis=1)
affluence.columns = ['Code', 'Affluence', 'x', 'y']
affluence['stop_id'] = 0

In [41]:
affluence.head()

  Code  Affluence              x               y  stop_id
0  AAT        770  47.3359563788   8.76561022548        0
1   AE       2100  47.4677359724   7.60305476436        0
2  ALL       3000  46.4757395273   6.39970400408        0
3   AW       3000  47.5504471564   9.30221759023        0
4  ARN        210  47.4420020412   9.25200601938        0

In [42]:
affluence.to_csv('../gtfs/affluence_code.csv')

In [83]:
affluence_with_ids = pd.read_csv("../qgis/affluence_with_tile_ids.csv")

In [44]:
joined_aff = affluence.join(affluence_with_ids, rsuffix='_r').drop(
        ['x', 'y', 'Code_r', 'stop_id', 'Code'], axis=1)
grouped_by_affluence = joined_aff.groupby('ID').agg(max).reset_index()

print("Centers with affluence data: {}".format(grouped_by_affluence.shape[0]))

Centers with affluence data: 371

## Combine results
Is there relation between degree of node and affluence?

In [45]:
affluence = affluence.join(affluence_with_ids, rsuffix='_r').drop(['Code_r'], axis=1)
affluence.head()

  Code  Affluence              x               y  stop_id      ID
0  AAT        770  47.3359563788   8.76561022548        0  1039.0
1   AE       2100  47.4677359724   7.60305476436        0   525.0
2  ALL       3000  46.4757395273   6.39970400408        0    50.0
3   AW       3000  47.5504471564   9.30221759023        0  1337.0
4  ARN        210  47.4420020412   9.25200601938        0  1309.0

In [46]:
stops = pd.read_csv('../gtfs/stops.txt').drop(['Unnamed: 0', 'platform_code'], axis=1)

In [47]:
stops.head()

   stop_id  stop_lon   stop_lat
0      132  7.689360  47.196374
1      133  8.603653  46.154371
2      134  8.435913  46.538322
3      135  7.773846  46.356888
4      136  7.717215  46.433756

### Get closest stop match by euclidean distance between coordinates -> heuristic 
Result stored in `gtfs/affluence_with_stopid.csv`

**WARNING**: takes some time to compute

In [ ]:
MAX_SIZE = sys.maxsize
for i in range(affluence.shape[0]):
    min_ = MAX_SIZE
    min_id = None
    x1 = float(affluence.loc[i].x)
    y1 = float(affluence.loc[i].y)
    for j in range(stops.shape[0]):
        x2 = float(stops.loc[j].stop_lat)
        y2 = float(stops.loc[j].stop_lon)
        dist = math.sqrt(pow(abs(x1-x2),2) + pow(abs(y1 - y2),2))
        if dist < min_:
            min_ = dist
            min_id = stops.loc[j].stop_id
    affluence.set_value(i, 'stop_id', min_id)
    if (i%25 == 0):
        print("{}/{}".format(i, affluence.shape[0]))
        
affluence.to_csv('gtfs/affluence_with_stopid.csv')

**Instead** use pre-computed file below

In [49]:
affluence = pd.read_csv('../gtfs/affluence_with_stopid.csv')
affluence.drop(['Unnamed: 0'], axis=1, inplace=True)
affluence.head()

  Code  Affluence          x         y  stop_id      ID
0  AAT        770  47.335956  8.765610  8503124  1039.0
1   AE       2100  47.467736  7.603055  8500117   525.0
2  ALL       3000  46.475740  6.399704  8501035    50.0
3   AW       3000  47.550447  9.302218  8506109  1337.0
4  ARN        210  47.442002  9.252006  8506211  1309.0

Merge max affluence nodes for each cell with corresponding stop_id (gtfs format).

In [50]:
affluence_stop_ids = grouped_by_affluence.merge(affluence, left_on=['ID', 'Affluence'],
                          right_on=['ID', 'Affluence'])[['ID', 'stop_id']]

In [51]:
affluence_stop_ids.head()

     ID  stop_id
0   3.0  8501001
1   6.0  8501003
2  11.0  8516155
3  12.0  8501008
4  22.0  8501022

Combine the results from affluence and degree to one collection

In [52]:
cell_centers = grouped_by_degree.drop(['degree'], axis=1)
for i in range(affluence_stop_ids.shape[0]):
    cell_id = affluence_stop_ids.loc[i].ID
    stop_id = affluence_stop_ids.loc[i].stop_id
    cell_centers.set_value(cell_id, 'stop_id', stop_id)

Get list of all centers

## IMPORTANT: sort the centers by tile-id

In [118]:
cell_centers = cell_centers.reindex(range(1, n_tiles+1), fill_value=0)

In [119]:
lst_centers = list(map(lambda x: int(x), cell_centers.stop_id))

In [126]:
nodes = G.nodes()
filt_centers = []
for c in lst_centers:
    if c in nodes:
        filt_centers.append(c)
    else: 
        filt_centers.append(0)

In [129]:
with open('../res/center_nodes', 'wb') as f:
    pickle.dump(filt_centers, f)